<div class="text-center text-danger my-5">
    <h3 class="display-3">
        <i class="bi bi-bug"></i>
        <br />
        Access Denied
    </h3>
</div>

<div class="text-center my-5">
    <div class="lead my-5">
        You Have No Permission to access this page. Please get in touch with system admin.

    </div>
    <div class="btn-group my-5">
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
        <a class="btn btn-outline-secondary" asp-controller="Product" asp-action="Index">Ürünler</a>
    </div>
</div>