@model IdentityRole

<h2>Rol Oluştur</h2>
<hr />



<form asp-controller="Role" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
