<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Modascon</strong>
        </a>

        <div class="d-lg-none">
            <a asp-controller="Auth" asp-action="Login" class="bi-person custom-icon me-3"></a>
            <a asp-page="/Cart" class="bi-bag custom-icon"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link bi bi-house" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Product" asp-action="Index">Ürünler (@await Component.InvokeAsync("ProductSummary"))</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Category" asp-action="Index">Kategoriler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Contact">Bize Ulaşın</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="User" asp-action="Index">
                        <i class="bi bi-person"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Cart">
                        <span id="boot-icon" class="bi-bag custom-icon"></span> (@await Component.InvokeAsync("CartSummary"))
                    </a>
                </li>
                <partial name="_LoginMenu" />
            </ul>
        </div>
    </div>
</nav>
