@model CreateContactDto

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<
<body>

    @*<section class="preloader">
    <div class="spinner">
    <span class="sk-inner-circle"></span>
    </div>
    </section>*@

    <main>
        <header class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 header-info">
                        <h1>
                            <span class="d-block text-primary">Merhaba</span>
                            <span class="d-block text-dark">Sizi Seviyoruz</span>
                        </h1>
                    </div>
                </div>
            </div>

            <img src="~/images/header/positive-european-woman-has-break-after-work.jpg" class="header-image img-fluid" alt="">
        </header>

        <section class="contact section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h2 class="mb-4">Let's <span>begin</span></h2>

                        <form class="contact-form me-lg-5 pe-lg-3" asp-controller="Contact" asp-action="Index" method="post">

                            <div class="form-floating">
                                <input asp-for="Name" type="text" name="name" id="name" class="form-control" placeholder="Full name" required>

                                <label asp-for="Name">Full name</label>
                            </div>

                            <div class="form-floating my-4">
                                <input asp-for="Email" type="email" name="email" id="email" class="form-control" placeholder="Email address" required>

                                <label asp-for="Email">Email address</label>
                            </div>

                            <div class="form-floating my-4">
                                <input asp-for="Subject" type="subject" name="subject" id="subject" class="form-control" placeholder="Subject" required>

                                <label asp-for="Subject">Subject</label>
                            </div>

                            <div class="form-floating mb-4">
                                <textarea asp-for="Message" id="message" name="message" class="form-control" placeholder="Leave a comment here" required style="height: 160px"></textarea>

                                <label asp-for="Message">Tell us about the project</label>
                            </div>

                            <div class="col-lg-5 col-6">
                                <button type="submit" class="form-control">Gönder</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-12 mt-5 ms-auto">
                        <div class="row">
                            <div class="col-6 border-end contact-info">
                                <h6 class="mb-3">İş Birliği İçin</h6>
                                <a href="modascon@gmail.com" class="custom-link">
                                    modascon@gmail.com
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>

                            <div class="col-6 contact-info">
                                <h6 class="mb-3">E Mail</h6>
                                <a href="serkancelen@outlook.com.tr" class="custom-link">
                                    serkancelen@outlook.com.tr
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>

                            <div class="col-6 border-top border-end contact-info">
                                <h6 class="mb-3">Address</h6>

                                <p class="text-muted">Aydınlı Mahallesi Mor sokak No:20/5 Tuzla/Istanbul</p>
                            </div>

                            <div class="col-6 border-top contact-info">
                                <h6 class="mb-3">Sosyal Medya</h6>

                                <ul class="social-icon">

                                    <li><a href="https://www.youtube.com/channel/UCphZslAhQ5xxdy0eBzq5yRw" class="social-icon-link bi-youtube" target="_blank"></a></li>

                                    <li><a href="https://www.instagram.com/serkan.celen" class="social-icon-link bi-instagram" target="_blank"></a></li>

                                    <li><a href="https://wa.me/05522451575" class="social-icon-link bi-whatsapp" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</body>