@using Modascon.Infrastructure.Extensions;
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="~/assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Modascon</h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a class="nav-link text" aria-current="page" asp-controller="Dashboard" asp-action="Index">
                <div class="parent-icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </div>
                <div class="menu-title">eCommerce</div>
            </a>
            <ul>
                <li>
                    <a class="nav-link" aria-current="page" asp-controller="Product" asp-action="Index">
                        <ion-icon name="ellipse-outline"></ion-icon>
                        Products (@await Component.InvokeAsync("ProductSummary"))
                    </a>
                </li>
                <li>
                    <a class="nav-link text" aria-current="page" asp-controller="Category" asp-action="Index"><ion-icon name="ellipse-outline"></ion-icon>Categories</a>
                </li>
                <li>
                    <a class="nav-link text" aria-current="page" asp-controller="Order" asp-action="Index"><ion-icon name="ellipse-outline"></ion-icon>Orders</a>
                </li>
                <li>
                    <a class="nav-link text" aria-current="page" asp-controller="Role" asp-action="Index"><ion-icon name="ellipse-outline"></ion-icon>Roles</a>
                </li>
            </ul>
        </li>

        <li class="menu-label">Users</li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Users</div>
            </a>
            <ul>
                <li>
                    <a class="nav-link text" aria-current="page" asp-controller="User" asp-action="Index"><ion-icon name="ellipse-outline"></ion-icon>Users</a>
                </li>
                <li>
                    <a class="nav-link text" aria-current="page" asp-controller="User" asp-action="Create"><ion-icon name="ellipse-outline"></ion-icon>User Create</a>
                </li>
            </ul>
        </li>
        <li>
            <a target="_blank" class="nav-link text" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="parent-icon">
                    <i class="lni lni-website"></i>
                </div><div class="menu-title">Web</div>
            </a>
        </li>
    </ul>
</aside>
<header class="top-header">
    <nav class="navbar navbar-expand gap-3">
        <div class="toggle-icon">
            <ion-icon name="menu-outline"></ion-icon>
        </div>

        <form class="searchbar">
            <div class="position-absolute top-50 translate-middle-y search-icon ms-3">
                <ion-icon name="search-outline"></ion-icon>
            </div>
            <input class="form-control" type="text" placeholder="Search for anything">
            <div class="position-absolute top-50 translate-middle-y search-close-icon">
                <ion-icon name="close-outline"></ion-icon>
            </div>
        </form>
        <div class="top-navbar-right ms-auto">

            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link mobile-search-button" href="javascript:;">
                        <div class="">
                            <ion-icon name="search-outline"></ion-icon>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dark-mode-icon" href="javascript:;">
                        <div class="mode-icon">
                            <ion-icon name="moon-outline"></ion-icon>
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-large dropdown-apps">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                        <div class="">
                            <ion-icon name="apps-outline"></ion-icon>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <div class="row row-cols-3 g-3 p-3">
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-purple text-white">
                                    <ion-icon name="cart-outline"></ion-icon>
                                </div>
                                <div class="app-title">Orders</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-info text-white">
                                    <ion-icon name="people-outline"></ion-icon>
                                </div>
                                <div class="app-title">Teams</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-success text-white">
                                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                                </div>
                                <div class="app-title">Tasks</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-danger text-white">
                                    <ion-icon name="videocam-outline"></ion-icon>
                                </div>
                                <div class="app-title">Media</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-warning text-white">
                                    <ion-icon name="file-tray-outline"></ion-icon>
                                </div>
                                <div class="app-title">Files</div>
                            </div>
                            <div class="col text-center">
                                <div class="app-box mx-auto bg-gradient-branding text-white">
                                    <ion-icon name="notifications-outline"></ion-icon>
                                </div>
                                <div class="app-title">Alerts</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-large">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                        <div class="position-relative">
                            <span class="notify-badge">8</span>
                            <ion-icon name="notifications-outline"></ion-icon>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:;">
                            <div class="msg-header">
                                <p class="msg-header-title">Notifications</p>
                                <p class="msg-header-clear ms-auto">Marks all as read</p>
                            </div>
                        </a>
                        <div class="header-notifications-list">
                            <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                    <div class="notify text-primary">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="msg-name">
                                            New Orders <span class="msg-time float-end">
                                                2 min
                                                ago
                                            </span>
                                        </h6>
                                        <p class="msg-info">You have recived new orders</p>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                    <div class="notify text-danger">
                                        <ion-icon name="person-outline"></ion-icon>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="msg-name">
                                            New Customers<span class="msg-time float-end">
                                                14 Sec
                                                ago
                                            </span>
                                        </h6>
                                        <p class="msg-info">5 new user registered</p>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                    <div class="notify text-success">
                                        <ion-icon name="shield-outline"></ion-icon>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="msg-name">
                                            Your item is shipped <span class="msg-time float-end">
                                                5 hrs
                                                ago
                                            </span>
                                        </h6>
                                        <p class="msg-info">Successfully shipped your item</p>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                    <div class="notify text-warning">
                                        <ion-icon name="cafe-outline"></ion-icon>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="msg-name">
                                            Defense Alerts <span class="msg-time float-end">
                                                2 weeks
                                                ago
                                            </span>
                                        </h6>
                                        <p class="msg-info">45% less alerts last 4 weeks</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="javascript:;">
                            <div class="text-center msg-footer">View All Notifications</div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-user-setting">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                        <div class="user-setting">
                            <img src="~/assets/images/avatars/serkan.png" class="user-img" alt="">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex flex-row align-items-center gap-2">
                                    <img src="~/assets/images/avatars/serkan.png" alt="" class="rounded-circle" width="54" height="54">
                                    <div class="">
                                        <h6 class="mb-0 dropdown-user-name">Serkan Çelen</h6>
                                        <small class="mb-0 dropdown-user-designation text-secondary">Web Developer</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" aria-current="page" asp-controller="Dashboard" asp-action="Index">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <ion-icon name="speedometer-outline"></ion-icon>
                                    </div>
                                    <div class="ms-3"><span>Dashboard</span></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" aria-current="page" asp-area="" asp-controller="Auth" asp-route-returnUrl="/Home" asp-action="Logout">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <ion-icon name="log-out-outline"></ion-icon>
                                    </div>
                                    <div class="ms-3"><span>Çıkış Yap</span></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </nav>
</header>
<!--end top header-->