@model IEnumerable<Product>

<div class="text-center header-info ">
        <h1>
        <span class="d-block text-primary">Vitrin</span>
        </h1>
    </div> 
    <div class="row">
    @foreach (var prd in Model)
    {
        <partial name="_ProductCard" model="prd" />
    }
</div>