@model IEnumerable<Product>

<div class="col-12 text-center">
    <h2 class="mb-5">Sizin İçin Önerilenler</h2>
</div>
<hr />
<div class="row">
    @foreach (var prd in Model)
    {
        <partial name="_ProductCard" model="prd" />
    }
</div>