<main>
    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto col-12">
                    <h1 class="hero-title text-center mb-5">Şifremi Unuttum</h1>
                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form method="post" asp-controller="Auth" asp-action="ForgotPasswordWithEmail">
                                <div class="mb-3">
                                    <label for="Email"></label>
                                    <input name="Email" type="email" class="form-control" placeholder="E-Mail" />
                                </div>
                                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">Şifre Sıfırlama Maili Gönder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>