@page
<div class="text-center">
    <h6 class="display-6">Teşekkürler</h6>
    <p>Sipatişiniz Alındı #</p>
    <p>En kısa sürede siparişiniz Yola çıkacak</p>
    <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Alışverişe Devam Etmek İçin</a>
</div>
@functions {
    [BindProperty(SupportsGet = true)]
    public string OrderId { get; set; }
}