@page "/getintouch"

<
<body>

    @*<section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>*@

    <main>
        <header class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 header-info">
                        <h1>
                            <span class="d-block text-primary">Merhaba</span>
                            <span class="d-block text-dark">Sizi Seviyoruz</span>
                        </h1>
                    </div>
                </div>
            </div>

            <img src="~/images/header/positive-european-woman-has-break-after-work.jpg" class="header-image img-fluid" alt="">
        </header>

        <section class="contact section-padding">
            <div class="container">
                <div class="row">

                    <div class="text-center">
                        <div class="row">
                            <div class="col-6 border-end contact-info">
                                <h6 class="mb-3">İş Birliği İçin</h6>
                                <a href="modascon@gmail.com" class="custom-link">
                                    modascon@gmail.com
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>

                            <div class="col-6 contact-info">
                                <h6 class="mb-3">E Mail</h6>
                                <a href="serkancelen@outlook.com.tr" class="custom-link">
                                    serkancelen@outlook.com.tr
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>

                            <div class="col-6 border-top border-end contact-info">
                                <h6 class="mb-3">Address</h6>

                                <p class="text-muted">Aydınlı Mahallesi Mor sokak No:20/5 Tuzla/Istanbul</p>
                            </div>

                            <div class="col-6 border-top contact-info">
                                <h6 class="mb-3">Sosyal Medya</h6>

                                <ul class="social-icon">

                                    <li><a href="https://www.youtube.com/channel/UCphZslAhQ5xxdy0eBzq5yRw" class="social-icon-link bi-youtube" target="_blank"></a></li>

                                    <li><a href="https://www.instagram.com/serkan.celen" class="social-icon-link bi-instagram" target="_blank"></a></li>

                                    <li><a href="https://wa.me/05522451575" class="social-icon-link bi-whatsapp" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</body>